<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Realizar pedido </title>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/make-order.css">
    <!-- JQuery import necessary to QR generation -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<body>
    <section class="header">
        <div class="home-button">
            <a href="./home">
                < Personalizar pedido </a> </div> <div class="menu">
                    <img src="./assets/icons/menu.png" alt="">
        </div>
    </section>

    <section class="info">
        <div class="image">
            <img src="./assets/maiz.png" alt="">
        </div>
        <div class="price">
            <p> Maíz </p>
            <p>$5800/Tn</p>
        </div>
        <div>
            <p> Selecciona la cantidad de toneladas. La cantidad mínima es de 2 toneladas.</p>
        </div>
    </section>

    <section class="order-options">
        <!-- Image where the QR code will be displayed -->
        <br />
        <input type="text" size="60" maxlength="60" id="qr-txt" placeholder="Ingresa la cantidad" />
        <button class="place-order" type="button" id="qr-btn">Generate</button>
        <a id="qr-code" href="" download style="display: none"> Descargar QR</a>

    </section>
    <!-- <img class="qr-code" /> -->




    <script>
        var amount = document.querySelector('#qr-txt');
        var downloadQr = document.querySelector('#qr-code');
        // Function to HTML encode the text
        function htmlEncode(value) {
            return $('<div/>').text(value)
                .html();
        }

        $(function () {
            // Specify an onclick function
            // for the generate button
            $('#qr-btn').click(function () {
                // Connect to the API that generates the QR, giving it
                // the text to encode within it
                let finalURL =
                    'https://chart.googleapis.com/chart?cht=qr&chl=' +
                    htmlEncode($(amount.value).val()) +
                    '&chs=160x160&chld=L|0'

                // Replace the src of the image with
                // the QR code image
                // $('.qr-code').attr('src', finalURL);

                // Sets anchor link to finalURL and displays anchor
                downloadQr.setAttribute('href', finalURL);
                downloadQr.style.display = 'inline-block';


                fetch('http://127.0.0.1:3000/pedido', {
                    method: 'POST',
                    body: JSON.stringify({
                        "email": 'prueba@hotmail.com',
                        "cantidad": amount.value,
                        "precio": 10,
                        "peso": 5
                    }),
                    headers: {
                        "Content-Type": "application/json; charset=UTF-8"
                    }
                })
                    .then(results => results.json())
                    .then(function (data) {
                        console.log(data)
                    });
            });
        });

    </script>

</body>

</html>