<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Realizar pedido </title>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/make-order.css">
</head>
<body>
    <section class="header"> 
        <div class="home-button">
            <a href="./index.html">
                < Personalizar pedido
            </a>
        </div>
        <div class="menu">
            <img src="./assets/icons/menu.png" alt="">
        </div>
    </section>

    <section class="info">
        <div class="image">
            <img src="./assets/maiz.png" alt="">
        </div>
        <div class="price">
            <p> Maíz </p>
            <p>$5800/Tn</p>
        </div>
        <div>
            <p> Selecciona la cantidad de toneladas. La cantidad mínima es de 2 toneladas.</p>
        </div>
    </section>

    <section class="order-options">
        <a class="place-order"> Ordena ahora</a>
    </section>
</body>
</html>