<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Entrance Access</title>
        <!-- Styles related to this HTML page -->
        <link rel="stylesheet" href="./css/warehouseAccess.css">
        <!-- Scripts related to this HTML page -->
        <script src="https://unpkg.com/html5-qrcode"></script>
    </head>
    <body>
        <header>
            <img id="logo" src="./assets/icons/logo.png" />
            <h1>CORN WAREHOUSE</h1>
        </header>

        <main>
            <div id="reader"></div>
            <div id="result"></div>
        </main>

        <footer>
            <p>© Copyright - 2023</p>
        </footer>

        <script>
            // This method will trigger user permissions
            Html5Qrcode.getCameras().then(devices => {
                if (devices && devices.length) {
                    var cameraId = devices[0].id;

                    // Once a camera has been identified then the scanning starts
                    const html5QrCode = new Html5Qrcode("reader");
                    html5QrCode.start(
                        cameraId, 
                        {
                            fps: 10,
                            qrbox: { 
                                width: 250, 
                                height: 250 
                            }
                        },
                        (decodedText, decodedResult) => {
                            //console.log(`Scan result: ${decodedText}`, decodedResult);
                            //document.getElementById("result").value = decodedResult;

                            //  Verifies the ID of the order exctracted from the QR is valid
                            fetch('http://127.0.0.1:3000/pedido/' + decodedText)
                                .then(res => res.json())
                                .then((res) => {
                                    console.log(res);
                                    if(res._id !== undefined) {
                                        console.log("SIUUUU");
                                    }
                                })
                        },
                        (errorMessage) => {
                            console.log("Error reading QR code...");
                        })
                    .catch((err) => {
                        console.log("Error starting QR scanner...");
                    });
                }
            }).catch(err => {
                console.log("Error finding a camera to be used...");
            });

        </script>

    </body>
</html>
