<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Entrance Access</title>
        <!-- Styles related to this HTML page -->
        <link rel="stylesheet" href="./css/warehouseAccess.css">
        <!-- Scripts related to this HTML page -->
        <script src="https://unpkg.com/html5-qrcode"></script>
    </head>
    
    <body>
        <div id="background-cover">
            <header>
                <img id="logo" src="./assets/icons/logo.png" />
                <div id="header-title">
                    <h1>MAIZE DEPOT</h1>
                    <h3><i>Warehouse and Grainery Co. Ltd.</i></h3>
                </div>
            </header>

            <section>
                <h2>¡Bienvenido!</h2>
                <p>Para brindarle acceso a nuestros almacenes y ofrecerle un mejor servicio, escanee el código QR que se generó al realizar su orden.</p>
                <main>
                    <div id="reader"></div>
                </main>

                <div class="popup" id="popup">
                    <img id="popup-img" />
                    <h1 id="popup-h1"></h2>
                    <p id="popup-desc"></p>
                </div>
            </section>

            <footer>
                <p>© All rights reserved - 2023</p>
            </footer>
        </div>

        <!--QR code scanner code -->
        <script src="./js/warehouseAccess.js" type="text/javascript"></script>
    
    </body>
</html>
